<header class="header">
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-2">                
            <ul class="header-left">
                <li> 
                    <div class="navbar-icon" (click)="onClickNavIcon()">
                        <i class="fa fa-bars"></i>
                    </div>  
                </li>
                <li> 
                    <div class="company-logo">
                        <a routerLink="/">
                          <img src="./assets/imgs/company-logo.png"/>
                        </a>
                    </div>  
                </li>
            </ul>
          
          </div>
          <div class="col-sm-6">
            <div class="search-box-wrap">
              <div class="header-search-box" [ngClass]="[isActiveSearch ? 'search-box-bg' : '']">
                <div class="search-box-content">
                  <label class="search-btn"><i class="fa fa-search _icon"></i></label>
                  <input type="text" placeholder="Search Mail" 
                    class="header-search-inp" 
                    [ngClass]="[isActiveSearch ? 'search-box-bg' : '']"
                    (click)="onClickSearchBox()"                 
                    (focusout)="focusOutSearchBox($event)"
                    #itemSearchInput
                    >
                  <label class="slide-btn"><i class="fa fa-sliders _icon"></i></label>
                </div>

                <div class="search-content" *ngIf="isShowSearchContent"  #menu>
                  <div class="search-top-btn">
                    <ul>
                      <li><span class="filter-btn"><i class="fa fa-paperclip"></i> Has Attachment</span></li>
                      <li><span class="filter-btn"><i class="fa fa-calendar"></i> Last 1 Days</span></li>
                      <li><span class="filter-btn"><i class="fa fa-user-circle"></i> From me</span></li>
                    </ul>
                  </div>

                  <div class="search-item-content">
                    <ul>
                      <li *ngFor="let item of postArr;"  (click)="getDetails(item)">
                        <span class="s-i-left"><i class="fa fa-envelope _icon"></i> 
                          {{ item['title'] | titlecase }}
                          <br>
                          <b>test@gmail.com</b>
                        </span> 
                        <span class="s-i-right"><i class="fa fa-paperclip _icon"></i> 1/01/2022                                        
                        </span>
                      </li>   

                    </ul>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <ul class="header-right">
              <li> 
                  <a href="#" class="icon-item">
                      <i class="fa fa-question-circle"></i>
                  </a>  
              </li>
              <li> 
                  <a href="#" class="icon-item">
                      <i class="fa fa-cog"></i>
                  </a>  
              </li>
              <li> 
                  <a href="#" class="icon-item">
                      <i class="fa fa-th"></i>
                  </a>  
              </li> 
              <li> 
                  <a href="#" class="icon-item">
                      <i class="fa fa-user"></i>
                  </a>  
              </li> 
                            
            </ul>            
            
          </div>
        </div>
      </div>
</header>
<section class="body-section">  
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2 p-0 sidebar-lg" [ngClass]="[sidebarToggle ? 'is-block' : 'is-none']"
       >
        <div class="com-btn-content">
          <button class="compose-btn"> <i class="fa fa-plus com-btn-icon _icon"> </i>Compose</button>
        </div>

        <div class="top-navbar">
          <ul>
            <li (click)="onClickFilter('status_id', '1')">
              <a href="javascript:void(0)" [ngClass]="{'active': statusId == 1}"> 
                <i class="fa fa-inbox l-icon"></i>
                  Inbox
                <i class="r-icon"> 10</i>
              </a>
            </li>
            <li (click)="onClickFilter('status_id', '2')">
              <a href="javascript:void(0)" [ngClass]="{'active': statusId == 2}"> 
                <i class="fa fa-star l-icon"></i>
                  Starred
                <i class="r-icon">10</i>
              </a>
            </li>
            <li (click)="onClickFilter('status_id', '3')">
              <a href="javascript:void(0)" [ngClass]="{'active': statusId == 3}"> 
                <i class="fa fa-clock l-icon"></i>
                  Snoozed
                <i class="r-icon">10</i>
              </a>
            </li>
            <li (click)="onClickFilter('status_id', '4')">
              <a href="javascript:void(0)" [ngClass]="{'active': statusId == 4}">
                <i class="fa fa-paper-plane l-icon"></i>
                  Sent
                <i class="r-icon"> 10 </i>
              </a>
            </li>
            <li (click)="onClickFilter('status_id', '5')">
              <a href="javascript:void(0)" [ngClass]="{'active': statusId == 5}"> 
                <i class="fa fa-file l-icon"></i>
                  Dtafts
                <i class="r-icon">10</i>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)"> 
                <i class="fa fa-exclamation-circle l-icon"></i>
                  Spam
                <i class="r-icon"></i>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)"> 
                <i class="fa fa-commenting l-icon"></i>
                  Chats
                <i class="r-icon"></i>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)"> 
                <i class="fa fa-info-circle l-icon"></i>
                  Important
                <i class="r-icon"></i>
              </a>
            </li>           
          </ul>
        </div>
      </div>

      <div class="short-navbar" [ngClass]="[sidebarToggle ? 'is-none' : 'is-block']"
        (mouseover)="sidebarToggle=true"
        >
        <div class="com-btn-content">
          <button class="compose-btn"> <i class="fa fa-plus com-btn-icon _icon"> </i></button>
        </div>
        <div class="top-navbar">          
          <ul>
            <li (click)="onClickFilter('status_id', '1')">
              <a href="#" [ngClass]="{'active': statusId == 1}"> 
                <i class="fa fa-inbox l-icon"></i>                  
              </a>
            </li>
            <li (click)="onClickFilter('status_id', '2')">
              <a href="#" [ngClass]="{'active': statusId == 2}"> 
                <i class="fa fa-star l-icon"></i>           
              </a>
            </li>
            <li (click)="onClickFilter('status_id', '3')">
              <a href="#" [ngClass]="{'active': statusId == 3}"> 
                <i class="fa fa-clock l-icon"></i>                 
              </a>
            </li>
            <li (click)="onClickFilter('status_id', '4')">
              <a href="#" [ngClass]="{'active': statusId == 4}">
                <i class="fa fa-paper-plane l-icon"></i>                  
              </a>
            </li>
            <li (click)="onClickFilter('status_id', '5')">
              <a href="#" [ngClass]="{'active': statusId == 5}"> 
                <i class="fa fa-file l-icon"></i>                 
              </a>
            </li>
            <li>
              <a href="#"> 
                <i class="fa fa-exclamation-circle l-icon"></i>                 
              </a>
            </li>
            <li>
              <a href="#"> 
                <i class="fa fa-commenting l-icon"></i>                  
              </a>
            </li>
            <li>
              <a href="#"> 
                <i class="fa fa-info-circle l-icon"></i>                 
              </a>
            </li>           
          </ul>
        </div>
      </div>

      <div class="" [ngClass]="[sidebarToggle ? 'col-sm-10' : 'col-sm-12 pl-80']">          
        <router-outlet></router-outlet>                  
      </div>
    </div>
  </div>
</section>

<ng-template #templateEmailDetails>
  <div class="modal-container">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Email Details</h4>
      <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">    
      <ng-container *ngIf="item">
        <h5>{{ item?.title | titlecase }}</h5>
        <div class="gmail-body">
          <p>{{ item?.body }}</p>
        </div>
      </ng-container>               
    </div>
  </div>
</ng-template>